body {
    /*background: url("/images/background.jpg") no-repeat;*/
    /*width: auto;*/
    /*height: auto;*/
    background-repeat: no-repeat;
    background-image: url("/images/background.jpg");
    background-size: cover;
    color: cornsilk;
}

h1 {
    text-align: center;

}
.game {
    text-align: right;
    /*width: 300;*/
    /*margin: auto;*/
}


#canvas {

    /*border: 1px solid black;*/
}
#score {
    display: inline-block;
}


/*CSS cho button play nhạc*/
.button {
    border-radius: 4px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    /*padding: 16px 32px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.button:hover {
    background-color: #4CAF50;
    color: white;
}