body {
    /*background: url("/images/background.jpg") no-repeat;*/
    /*width: auto;*/
    /*height: auto;*/
    background-repeat: no-repeat;
    background-image: url("/images/background.jpg");
    background-size: cover;
    color: cornsilk;
    font-family: "Lucida Console", "Courier New", monospace;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 2.5em;

}
.game {
    text-align: right;

}

#canvas {

}
.score {
    display: inline-block;
    color: coral;
}


/*CSS cho button play nhạc*/
.button {
    border-radius: 4px;
    border: none;
    color: white;
    /*padding: 16px 32px;*/
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button {
    width: 75px;
    background-color: #0b3378;
    color: wheat;
    border: 2px solid #4CAF50;
}

.button:hover {
    background-color: #4CAF50;
    color: white;
}